

html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

#titleRow {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: blue;
  margin: 0 auto;
}

#outer {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

#editor-container {
  width: 80%;
  margin: 0 auto;
}

#code-editor {
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: green;
  color: white;
  resize: none;
}


.c-text {
  margin: 0;
  text-align: center;
}

